# KRX 데이터 조회 - 전일급등주
- description: 가즈아
- layout: post
- categories: [경제]
- toc: true

In [1]:
#hide
!pip install pandas pandasql xlrd

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.4)
Collecting pandasql
  Downloading https://files.pythonhosted.org/packages/6b/c4/ee4096ffa2eeeca0c749b26f0371bd26aa5c8b611c43de99a4f86d3de0a7/pandasql-0.7.3.tar.gz
Requirement already satisfied: xlrd in /usr/local/lib/python3.6/dist-packages (1.1.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.3.20)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-cp36-none-any.whl size=26819 sha256=f77bcfeeb6b740ae058985aa64551d41b4835b662f12a532e16f3c52adf8a82b
  Stored in directory: /root/.cache/pip/wheels/53/6c/18/b87a2e5fa8a82e9c026311de56210b8d1c01846e18a9607fc9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [2]:
# hide
import requests
import pandas as pd
from pandas.tseries.offsets import BDay
from io import StringIO
from io import BytesIO
import json
import datetime

왜 이렇게 만들었는지 모르겠는데 KRX는 한번 꼬아서 다운로드 받는다. 이러면 내가 못할 줄 알고?

In [3]:
def downloadKrxData(cd):
    resp = requests.post(
        'http://file.krx.co.kr/download.jspx', 
        headers={
            'User-Agent': 'Mozilla/5.0', 
            'Referer': 'http://marketdata.krx.co.kr/',
        }, 
        params={'code': cd},
    )
    tp = resp.headers['Content-Disposition'].split('.')[1]
    if tp == 'csv':
        return pd.read_csv(StringIO(resp.text))
    if tp == 'xls':
        return pd.read_excel(BytesIO(resp.content))

## KRX 휴장일을 반영한 전영업일 
- KRX 01023 휴장일 http://marketdata.krx.co.kr/mdi#document=01100305

In [4]:
def closingDays(year):
    resp = requests.get(
        'http://marketdata.krx.co.kr/contents/COM/GenerateOTP.jspx', 
        headers={'User-Agent': 'Mozilla/5.0'}, 
        params={
            'name': 'fileDown',
            'filetype': 'xls',
            'url': 'MKD/01/0110/01100305/mkd01100305_01',
            'search_bas_yy': year,
            'gridTp': 'KRX',
            'pagePath': '/contents/MKD/01/0110/01100305/MKD01100305.jsp',
        },
    )
    return downloadKrxData(resp.text)['일자 및 요일']

def getPreviousBizDay(today):
    pday = datetime.datetime.strptime(today, '%Y%m%d')
    yyyy = pday.year
    cds = closingDays(yyyy)

    while True:
        pday = pday - BDay(1)
        if yyyy != pday.year:
            yyyy = pday.year
            cds = pd.concat([cds, closingDays(yyyy)])
        if pday.strftime("%Y-%m-%d") not in cds.values:
            return pday.strftime("%Y%m%d")

## 전일 등락
- KRX 80037 전체종목 등락률 http://marketdata.krx.co.kr/mdi#document=13020102

In [5]:
def soaredStocks(dt):
    print(dt)
    resp = requests.get(
        'http://marketdata.krx.co.kr/contents/COM/GenerateOTP.jspx', 
        headers={'User-Agent': 'Mozilla/5.0'}, 
        params={
            'name': 'fileDown',
            'filetype': 'csv',
            'url': 'MKD/13/1302/13020102/mkd13020102',
            'ind_tp': 'ALL',
            'period_strt_dd': dt,
            'period_end_dd': dt,
            'pagePath': '/contents/MKD/13/1302/13020102/MKD13020102.jsp',
        },
    )
    return downloadKrxData(resp.text)

In [6]:
# hide
pd.set_option('display.max.colwidth', 150)

## 전 영업일 15% 이상 오른 종목

In [7]:
dt = getPreviousBizDay(datetime.datetime.now().strftime('%Y%m%d'))
# dt = '20201026'
df_soarings = soaredStocks(dt)

20201116

In [8]:
# hide
df_15 = df_soarings[df_soarings.등락률 >= 15].sort_values('등락률', ascending=False)
df_15['네이버주식'] = 'https://finance.naver.com/item/main.nhn?code=' + df_15['종목코드']
df_15

        종목코드  ...                                                네이버주식
2406  323990  ...  https://finance.naver.com/item/main.nhn?code=323990
2241  267850  ...  https://finance.naver.com/item/main.nhn?code=267850
1747  130500  ...  https://finance.naver.com/item/main.nhn?code=130500
179   002995  ...  https://finance.naver.com/item/main.nhn?code=002995
208   003495  ...  https://finance.naver.com/item/main.nhn?code=003495
2329  298690  ...  https://finance.naver.com/item/main.nhn?code=298690
2346  304840  ...  https://finance.naver.com/item/main.nhn?code=304840
656   020560  ...  https://finance.naver.com/item/main.nhn?code=020560
178   002990  ...  https://finance.naver.com/item/main.nhn?code=002990
1490  090710  ...  https://finance.naver.com/item/main.nhn?code=090710
1899  18064K  ...  https://finance.naver.com/item/main.nhn?code=18064K
1037  048870  ...  https://finance.naver.com/item/main.nhn?code=048870
2304  290690  ...  https://finance.naver.com/item/main.nhn?code=290690
2030  215380  ...  https://finance.naver.com/item/main.nhn?code=215380
331   005950  ...  https://finance.naver.com/item/main.nhn?code=005950
888   037230  ...  https://finance.naver.com/item/main.nhn?code=037230
305   005430  ...  https://finance.naver.com/item/main.nhn?code=005430
2171  246960  ...  https://finance.naver.com/item/main.nhn?code=246960
402   007980  ...  https://finance.naver.com/item/main.nhn?code=007980
1403  083420  ...  https://finance.naver.com/item/main.nhn?code=083420
2367  311060  ...  https://finance.naver.com/item/main.nhn?code=311060

[21 rows x 9 columns]

In [9]:
import pandasql as ps
ps.sqldf('''
    select a.*,
           'https://finance.naver.com/item/main.nhn?code=' || a.종목코드 as '네이버주식'
      from df_soarings a
     where 등락률 >= 15
  order by 등락률 desc
''')

      종목코드  ...                                                네이버주식
0   130500  ...  https://finance.naver.com/item/main.nhn?code=130500
1   267850  ...  https://finance.naver.com/item/main.nhn?code=267850
2   323990  ...  https://finance.naver.com/item/main.nhn?code=323990
3   002995  ...  https://finance.naver.com/item/main.nhn?code=002995
4   003495  ...  https://finance.naver.com/item/main.nhn?code=003495
5   298690  ...  https://finance.naver.com/item/main.nhn?code=298690
6   304840  ...  https://finance.naver.com/item/main.nhn?code=304840
7   020560  ...  https://finance.naver.com/item/main.nhn?code=020560
8   002990  ...  https://finance.naver.com/item/main.nhn?code=002990
9   090710  ...  https://finance.naver.com/item/main.nhn?code=090710
10  18064K  ...  https://finance.naver.com/item/main.nhn?code=18064K
11  048870  ...  https://finance.naver.com/item/main.nhn?code=048870
12  290690  ...  https://finance.naver.com/item/main.nhn?code=290690
13  215380  ...  https://finance.naver.com/item/main.nhn?code=215380
14  005950  ...  https://finance.naver.com/item/main.nhn?code=005950
15  037230  ...  https://finance.naver.com/item/main.nhn?code=037230
16  005430  ...  https://finance.naver.com/item/main.nhn?code=005430
17  246960  ...  https://finance.naver.com/item/main.nhn?code=246960
18  007980  ...  https://finance.naver.com/item/main.nhn?code=007980
19  083420  ...  https://finance.naver.com/item/main.nhn?code=083420
20  311060  ...  https://finance.naver.com/item/main.nhn?code=311060

[21 rows x 9 columns]